@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Paytone+One&family=Poppins&display=swap');

body {
  font-family: 'Manrope', sans-serif !important;
}
.welcome .title {
  font-family: "Paytone One", sans-serif;
}

 .questionImg {
  width: 100px;
  left: 100rem;
  top: -3rem; 
 }

